[Unit]
Description=go-simplehttp

[Service]
Type=simple
WorkingDirectory=/opt/go-simplehttp
ExecStart=/opt/go-simplehttp/go-simplehttp

[Install]
WantedBy=multi-user.target


